body {
  margin: 0;
  background: #5e31de;
  /* background: url("./vendors/Path\ 1.png") no-repeat #5e31de fixed right 200%; */
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
